%div#list
  - @ways.each do |way|
    %div= way.name

    - way.nodes.each do |node|
      %div= node.id

%div#path
  - @path_ways.each do |way|
    %div= way.to_s

%div#map{ :style => "width: #{@svg_width}px; height: #{@svg_height}px; border: 1px solid #ccc" }
= svg_map_for_nodes_script_tag @path_nodes