#content{ :style => "width: #{@svg_width}px" }
  = render :partial => 'select_nodes', :locals => { :ways => @ways, :start => @start, :finish => @finish }
  #path= render :partial => 'path', :locals => { :ways => @ways_on_path, :total_distance => @total_distance }

  #map{ :style => "width: #{@svg_width}px; height: #{@svg_height}px;" }
  = svg_map_for_nodes_script_tag @nodes_on_path
  = svg_map_integration_with_select_boxes_script_tag